<h2 mat-dialog-title>
  Změnit heslo
  <button mat-icon-button mat-dialog-close class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<div mat-dialog-content>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Současné heslo</mat-label>
      <input matInput type="password" formControlName="currentPassword" cdkFocusInitial>
      @if (currentPassword?.hasError('required')) {
        <mat-error>Současné heslo je povinné.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nové heslo</mat-label>
      <input matInput type="password" formControlName="newPassword">
      @if (newPassword?.hasError('required')) {
        <mat-error>Nové heslo je povinné.</mat-error>
      }
      @if (newPassword?.hasError('minlength')) {
        <mat-error>Nové heslo musí mít alespoň 5 znaků.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Potvrďte nové heslo</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
      @if (newPassword?.hasError('minlength')) {
        <mat-error>Nové heslo musí mít alespoň 5 znaků.</mat-error>
      }
      @if (confirmPassword?.hasError('required')) {
        <mat-error>Potvrzení nového hesla je povinné.</mat-error>
      }
      @if (changePasswordForm.errors?.['mismatch']) {
        <mat-error>Hesla se neshodují.</mat-error>
      }
    </mat-form-field>

    @if (error) {
      <div class="error-message">{{ error }}</div>
    }
      <div class="dialog-buttons">
          <button tabindex="-1" mat-button color="primary" class="action-button" type="submit">
              Uložit
          </button>
          <button tabindex="-1" mat-button color="warn" class="action-button" mat-dialog-close>
              Zrušit
          </button>
      </div>
  </form>
</div>
