<mat-card class="forgot-password-container">
  <mat-card-header class="centered-title">
    <mat-card-title>{{ 'FORGOT_PASSWORD.TITLE' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="info-message">{{ 'FORGOT_PASSWORD.INFO' | translate }}</div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="requestPasswordReset()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'FORGOT_PASSWORD.EMAIL_LABEL' | translate }}</mat-label>
        <mat-icon matPrefix>email</mat-icon>
        <input matInput type="email" formControlName="email" required />
        @if (email?.invalid && (email?.dirty || email?.touched)) {
          <mat-error>
            @if (email?.errors?.['required']) {
              <span>{{ 'FORGOT_PASSWORD.EMAIL_REQUIRED' | translate }}</span>
            }
            @if (email?.errors?.['email']) {
              <span>{{ 'FORGOT_PASSWORD.EMAIL_INVALID' | translate }}</span>
            }
          </mat-error>
        }
      </mat-form-field>

      @if (error) {
        <div class="error-message">
          {{ error }}
        </div>
      }

      <button mat-flat-button class="custom-button" color="primary" type="submit" [disabled]="forgotPasswordForm.invalid">
        {{ 'FORGOT_PASSWORD.SUBMIT_BUTTON' | translate }}
      </button>

      <div class="login-link">
        <a routerLink="/login" href="/login">{{ 'FORGOT_PASSWORD.BACK_TO_LOGIN' | translate }}</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
